@media(max-width: 768px){
    .seta {
        width: 200px;
        height: 200px;
    }  

    .img-card{
        height: 250px;
    }
    
}

@media(max-width: 660px){
    .seta {
        width: 150px;
        height: 150px;
    } 
}

@media(max-width: 540px){
    .seta {
        width: 70px;
        height: 70px;
    } 

    .cards .card .informacoes-topo .titulo{
        color: white;
        font-size: 1.6rem;
    }

}